body{
  background-color:#9B9B9B;
  margin-left: 15%;
  margin-right:15%;
}

#name {
  position:relative;
  top: -4rem;
  left: -4.6rem;
  width:  405px;
  height: 303px;
  transform: rotate(5deg);
}

.sidenav {
  position: fixed;
  padding-bottom: 100%; /* Full-height: remove this if you want "auto" height */
  width: 18rem; /* Set the width of the sidebar */
  z-index: 1; /* Stay on top */
  top: 0px; /* Stay at the top */
  background-color:black; /* Black */
  /*overflow-x: hidden;*/
  padding-top: 2rem;
  font-family: alata;
}



#projects {
  position: relative;
  top: -4rem;
  left: 1.7rem;
  text-decoration: none;
  font-family: alata;
  font-size: 25px;
  color:white;
  display: block;
}

#work1 {
  position: relative;
  top: -2rem;
  left: 3rem;
  text-decoration: none;
  font-family: alata;
  font-size: 25px;
  color:white;
  display: block;
}

#work2 {
  position: relative;
  top: -1rem;
  left: 3rem;
  text-decoration: none;
  font-family: alata;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

#work3 {
  position: relative;
  top: 0rem;
  left: 3rem;
  text-decoration: none;
  font-family: alata;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

#about {
  position: relative;
  top: 6rem;
  left: 1.7rem;
  text-decoration: none;
  font-family: alata;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

#contact {
  position: relative;
  top: 9rem;
  left: 1.7rem;
  text-decoration: none;
  font-family: alata;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

.flex-container {
  padding-top: 4rem;
  height:auto;
  padding-left: 30rem;
  padding-right: 10rem;
  height: 70rem;
  display: flex;
  flex-wrap: wrap;
  background-color:white;
  justify-content:space-around;


}

